################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/RestoClerkInventory/.vs/RestoClerkInventory/FileContentIndex
Internship Project/Canada_Horizon_Database/dist/win-unpacked/Canada Horizon Database.exe
