body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-actor: Actor;
    --font-abril-fatface: "Abril Fatface";
    --font-michroma: Michroma;
  
    /* font sizes */
    --font-size-base-4: 16.4px;
    --font-size-mini: 15px;
    --font-size-lgi-2: 19.2px;
    --font-size-xs: 12px;
    --font-size-mid-5: 17.5px;
  
    /* Colors */
    --color-white: #fff;
    --color-lavender-100: #eeeeff;
    --color-lavender-200: #e8e8ff;
    --color-black: #000;
    --color-royalblue: #0377ff;
    --color-whitesmoke: #f4f4f4;
    --color-cornflowerblue: #299eff;
    --color-mediumpurple: #7676dc;
    --color-darkblue: #01008a;
    --color-paleturquoise: #bcf1f9;
    --color-gray: rgba(255, 255, 255, 0.8);
  
    /* Gaps */
    --gap-4xl: 23px;
    --gap-xl: 20px;
    --gap-42xl: 61px;
    --gap-38xl: 57px;
    --gap-9xl: 28px;
    --gap-11xl: 30px;
    --gap-7xl: 26px;
    --gap-base-9: 16.9px;
  
    /* Paddings */
    --padding-6xl: 25px;
    --padding-xl: 20px;
    --padding-9xl: 28px;
    --padding-4xl: 23px;
    --padding-6xs: 7px;
    --padding-4xs: 9px;
    --padding-sm: 14px;
    --padding-smi: 13px;
    --padding-5xl: 24px;
    --padding-7xs: 6px;
    --padding-8xs: 5px;
    --padding-16xl: 35px;
    --padding-11xs: 2px;
    --padding-9xs: 4px;
    --padding-xs: 12px;
    --padding-8xs-1: 4.1px;
    --padding-10xl: 29px;
    --padding-48xl: 67px;
    --padding-14xl: 33px;
    --padding-47xl: 66px;
    --padding-3xs: 10px;
    --padding-12xs: 1px;
    --padding-5xs: 8px;
  
    /* Border radiuses */
    --br-9xs: 4px;
    --br-base: 16px;
    --br-3xs: 10px;
    --br-5xs: 8px;
  }
  .frame-child {
    height: 82px;
    width: 1334px;
    position: relative;
    background-color: var(--color-royalblue);
    display: none;
    max-width: 100%;
  }
  .canada-horizon {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.12em;
    line-height: 129.5%;
    text-shadow: 0.4px 0 0#fff, 0 0.4px 0#fff, -0.4px 0 0#fff, 0-0.4px 0#fff;
    z-index: 2;
  }
  .canada-horizon-wrapper {
    width: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
    box-sizing: border-box;
  }
  .admin,
  .dashboard,
  .employer,
  .logout,
  .worker {
    position: relative;
    line-height: 18px;
    display: inline-block;
    z-index: 2;
  }
  .dashboard {
    color: var(--color-white);
    min-width: 70px;
  }
  .admin,
  .employer,
  .logout,
  .worker {
    min-width: 42px;
  }
  .employer,
  .logout,
  .worker {
    min-width: 61px;
  }
  .logout,
  .worker {
    min-width: 48px;
  }
  .logout {
    min-width: 50px;
    white-space: nowrap;
  }
  .dashboard-parent,
  .frame-wrapper {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .dashboard-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-gray);
    font-family: var(--font-actor);
  }
  .frame-wrapper {
    width: 506px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xl) var(--padding-4xl) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-item,
  .notification-icon {
    position: absolute;
    top: 17.3px;
    left: 0;
    width: 26.3px;
    height: 38.3px;
    z-index: 2;
  }
  .frame-item {
    top: 0;
    left: 17px;
    border-radius: 50%;
    background-color: #ff3874;
    width: 9.5px;
    height: 9.9px;
  }
  .notification-parent,
  .setting-icon {
    height: 55.6px;
    width: 26.5px;
    position: relative;
  }
  .setting-icon {
    width: 24.6px;
    height: 38.3px;
    z-index: 2;
  }
  .setting-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 6.3px;
  }
  .frame-inner {
    width: 46.5px;
    height: 28.1px;
    position: relative;
    object-fit: cover;
    z-index: 2;
  }
  .frame-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 14.5px;
  }
  .frame-parent {
    width: 195.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 49px;
  }
  .rectangle-parent {
    align-self: stretch;
    background-color: var(--color-royalblue);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-5xs) 151px 16px var(--padding-48xl);
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    max-width: 100%;
    text-align: left;
    font-size: 20px;
    color: var(--color-white);
    font-family: var(--font-michroma);
  }
  .worker-page-child,
  .worker-page-item {
    width: 973px;
    background-color: var(--color-whitesmoke);
    max-width: 100%;
  }
  .worker-page-child {
    height: 80.4px;
    position: relative;
    display: none;
    z-index: 1;
  }
  .worker-page-item {
    height: 85.8px;
    z-index: 2;
  }
  .approved,
  .worker-page-inner,
  .worker-page-item {
    position: relative;
    display: none;
  }
  .worker-page-inner {
    width: 969px;
    height: 81.7px;
    background-color: var(--color-royalblue);
    max-width: 100%;
    z-index: 3;
  }
  .approved {
    width: 38px;
    height: 24.1px;
    font-size: var(--font-size-mini);
    line-height: 118%;
    color: var(--color-white);
    flex-shrink: 0;
    z-index: 4;
  }
  .best-buy {
    min-width: 71px;
    z-index: 7;
  }
  .best-buy,
  .sale-stock,
  .yes {
    position: relative;
    line-height: 20px;
    display: none;
  }
  .sale-stock {
    width: 91px;
    z-index: 8;
  }
  .yes {
    min-width: 24px;
    z-index: 9;
  }
  .pharmaprix {
    line-height: 20px;
    min-width: 83px;
    z-index: 10;
  }
  .health-care,
  .no,
  .pharmaprix {
    position: relative;
    display: none;
  }
  .health-care {
    width: 107px;
    line-height: 20px;
    z-index: 11;
  }
  .no {
    line-height: 20.4px;
    min-width: 21px;
    z-index: 12;
  }
  .company-name,
  .eimt,
  .professional-activities,
  .rejected {
    position: relative;
    font-size: var(--font-size-lgi-2);
    line-height: 23px;
    color: var(--color-white);
    display: none;
    z-index: 13;
  }
  .eimt,
  .professional-activities,
  .rejected {
    width: 194px;
    z-index: 14;
  }
  .eimt,
  .rejected {
    width: 53px;
    z-index: 15;
  }
  .rejected {
    width: 55px;
    font-size: var(--font-size-mini);
    line-height: 118%;
    z-index: 16;
  }
  .group-icon,
  .worker-page-child1 {
    width: 11.9px;
    height: 0;
    position: absolute;
    margin: 0 !important;
    bottom: 546.9px;
    left: 348.8px;
    z-index: 3;
  }
  .worker-page-child1 {
    height: 16.1px;
    bottom: 207.9px;
  }
  .rectangle-div {
    align-self: stretch;
    height: 1038px;
    position: relative;
    box-shadow: 0 73px 32px rgba(1, 0, 138, 0.12);
    background-color: var(--color-white);
    display: none;
  }
  .menu-dash-board-child {
    height: 42px;
    width: 273px;
    position: relative;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-darkblue);
    box-sizing: border-box;
    display: none;
  }
  .category-icon {
    width: 21.7px;
    height: 17px;
    position: relative;
    z-index: 1;
  }
  .category-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
  }
  .dashboard1 {
    position: relative;
    font-size: var(--font-size-mid-5);
    line-height: 21px;
    font-family: var(--font-actor);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 82px;
    z-index: 1;
  }
  .menu-dash-board {
    cursor: pointer;
    border: 1px solid var(--color-darkblue);
    padding: var(--padding-4xs) var(--padding-48xl) var(--padding-5xs);
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 27.3px;
    z-index: 1;
  }
  .frame-child1 {
    height: 44px;
    width: 273px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-mediumpurple);
    box-sizing: border-box;
    flex-shrink: 0;
    display: none;
  }
  .admin1,
  .profile-icon {
    position: relative;
    z-index: 2;
  }
  .profile-icon {
    height: 26px;
    width: 22px;
    flex-shrink: 0;
  }
  .admin1 {
    align-self: stretch;
    font-size: var(--font-size-mid-5);
    line-height: 16px;
    font-family: var(--font-actor);
    color: var(--color-darkblue);
    text-align: left;
  }
  .admin-wrapper {
    width: 77.1px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .vector-icon {
    width: 20.9px;
    height: 5.6px;
    position: relative;
    z-index: 2;
  }
  .vector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child2,
  .rectangle-container {
    border-radius: var(--br-3xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-mediumpurple);
  }
  .rectangle-container {
    cursor: pointer;
    padding: var(--padding-6xs) var(--padding-14xl) var(--padding-6xs)
      var(--padding-47xl);
    align-self: stretch;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
  }
  .frame-child2 {
    height: 44px;
    width: 273px;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    display: none;
  }
  .employer1,
  .profile-icon1 {
    position: relative;
    z-index: 2;
  }
  .profile-icon1 {
    height: 26px;
    width: 22px;
    flex-shrink: 0;
  }
  .employer1 {
    font-size: var(--font-size-mid-5);
    line-height: 14px;
    font-family: var(--font-actor);
    color: var(--color-darkblue);
    text-align: left;
    display: inline-block;
    min-width: 76px;
  }
  .employer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0;
  }
  .vector-icon1 {
    width: 20.9px;
    height: 5.6px;
    position: relative;
    z-index: 2;
  }
  .vector-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child3,
  .group-button {
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-mediumpurple);
  }
  .group-button {
    cursor: pointer;
    padding: var(--padding-6xs) var(--padding-14xl) var(--padding-6xs)
      var(--padding-47xl);
    background-color: var(--color-white);
    align-self: stretch;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
  }
  .frame-child3 {
    height: 44px;
    width: 273px;
    position: relative;
    background-color: var(--color-royalblue);
    box-sizing: border-box;
    flex-shrink: 0;
    display: none;
  }
  .profile-icon2,
  .worker1 {
    position: relative;
    z-index: 2;
  }
  .profile-icon2 {
    height: 26px;
    width: 22px;
    flex-shrink: 0;
  }
  .worker1 {
    font-size: var(--font-size-mid-5);
    line-height: 15px;
    font-family: var(--font-actor);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 60px;
  }
  .worker-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 17.1px 0 0;
  }
  .vector-icon2 {
    width: 20.9px;
    height: 5.6px;
    position: relative;
    z-index: 2;
  }
  .vector-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
  }
  .frame-child4,
  .rectangle-parent1 {
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-mediumpurple);
  }
  .rectangle-parent1 {
    cursor: pointer;
    padding: var(--padding-6xs) var(--padding-14xl) var(--padding-6xs)
      var(--padding-47xl);
    background-color: var(--color-royalblue);
    align-self: stretch;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 1;
  }
  .frame-child4 {
    height: 44px;
    width: 273px;
    position: relative;
    box-sizing: border-box;
    display: none;
  }
  .vector-icon3 {
    width: 21.4px;
    height: 16.2px;
    position: relative;
    z-index: 2;
  }
  .frame-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
  }
  .logout1 {
    position: relative;
    font-size: var(--font-size-mid-5);
    line-height: 22px;
    font-family: var(--font-actor);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    min-width: 60px;
    z-index: 2;
  }
  .rectangle-parent2 {
    cursor: pointer;
    border: 1px solid var(--color-mediumpurple);
    padding: var(--padding-4xs) var(--padding-48xl);
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 27.6px;
    z-index: 1;
  }
  .frame-child5 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(232, 232, 255, 0.75);
  }
  .collape,
  .frame-child6 {
    position: relative;
    z-index: 1;
  }
  .collape {
    width: 69.1px;
    font-size: var(--font-size-mid-5);
    line-height: 21px;
    font-family: var(--font-actor);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
  }
  .frame-child6 {
    width: 18px;
    height: 14.4px;
  }
  .frame-wrapper1 {
    flex-direction: column;
    padding: 3.8px 0 0;
  }
  .frame-wrapper1,
  .rectangle-group,
  .rectangle-parent3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 61px var(--padding-smi);
    background-color: transparent;
    align-self: stretch;
    flex-direction: row;
    position: relative;
    gap: 25.9px;
    z-index: 1;
  }
  .rectangle-group {
    height: 1038px;
    width: 273px;
    box-shadow: 0 73px 32px rgba(1, 0, 138, 0.12);
    background-color: var(--color-white);
    flex-direction: column;
    padding: 44px 0;
    box-sizing: border-box;
    gap: var(--gap-38xl);
  }
  .div-title,
  .worker-management {
    position: relative;
    max-width: 100%;
  }
  .div-title {
    height: 149px;
    width: 977px;
    border-radius: var(--br-base);
    background-color: var(--color-paleturquoise);
    display: none;
  }
  .worker-management {
    margin: 0;
    flex: 1;
    font-size: inherit;
    line-height: 72px;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .div-title-parent,
  .frame-wrapper3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .div-title-parent {
    flex: 1;
    border-radius: var(--br-base);
    background-color: var(--color-paleturquoise);
    padding: 42px 0 var(--padding-16xl);
  }
  .frame-wrapper3 {
    align-self: stretch;
    padding: 0 0 0 11px;
    flex-shrink: 0;
  }
  .frame-child7 {
    height: 33.1px;
    width: 160.8px;
    position: relative;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-mediumpurple);
    box-sizing: border-box;
    display: none;
  }
  .start-date {
    align-self: stretch;
    position: relative;
    line-height: 12.4px;
    z-index: 1;
  }
  .start-date-wrapper {
    width: 86.4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs-1) 0 0;
    box-sizing: border-box;
  }
  .calendar-icon {
    height: 20.9px;
    width: 17px;
    position: relative;
    object-fit: contain;
    z-index: 1;
  }
  .frame-child8,
  .group-div {
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-mediumpurple);
    box-sizing: border-box;
  }
  .group-div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-9xs) var(--padding-xs) var(--padding-8xs)
      var(--padding-sm);
    min-width: 103px;
    gap: var(--gap-xl);
  }
  .frame-child8 {
    height: 33.1px;
    width: 160.8px;
    position: relative;
    display: none;
  }
  .end-date {
    align-self: stretch;
    position: relative;
    line-height: 12.4px;
    z-index: 1;
  }
  .end-date-wrapper {
    width: 86.4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs-1) 0 0;
    box-sizing: border-box;
  }
  .calendar-icon1 {
    height: 20.9px;
    width: 17px;
    position: relative;
    object-fit: contain;
    z-index: 1;
  }
  .frame-child9,
  .rectangle-parent4 {
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-mediumpurple);
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-9xs) var(--padding-xs) var(--padding-8xs)
      var(--padding-sm);
    min-width: 103px;
    gap: var(--gap-xl);
  }
  .frame-child9 {
    height: 33.1px;
    width: 158.9px;
    position: relative;
    display: none;
  }
  .select,
  .vector-icon4 {
    position: relative;
    z-index: 1;
  }
  .select {
    width: 56.6px;
    line-height: 18.6px;
    display: inline-block;
    flex-shrink: 0;
  }
  .vector-icon4 {
    width: 10.9px;
    height: 6.6px;
  }
  .vector-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6.2px 0 0;
  }
  .rectangle-parent5 {
    flex: 1;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-mediumpurple);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs) 16.9px;
    min-width: 103px;
    gap: var(--gap-xl);
    font-size: var(--font-size-mini);
    color: var(--color-darkblue);
  }
  .frame-child10 {
    height: 33.1px;
    width: 140px;
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--color-royalblue);
    display: none;
  }
  .search {
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 18px;
    font-family: var(--font-actor);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 43px;
    z-index: 1;
  }
  .frame-child11,
  .rectangle-parent6 {
    width: 140px;
    border-radius: var(--br-9xs);
    box-sizing: border-box;
  }
  .rectangle-parent6 {
    cursor: pointer;
    border: 0;
    padding: 8.3px 44.7px 6.8px;
    background-color: var(--color-royalblue);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent6:hover {
    background-color: var(--color-cornflowerblue);
  }
  .frame-child11 {
    height: 33.1px;
    position: relative;
    background-color: var(--color-lavender-200);
    border: 1px solid var(--color-mediumpurple);
    display: none;
  }
  .reset {
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 18px;
    font-family: var(--font-actor);
    color: var(--color-darkblue);
    text-align: left;
    display: inline-block;
    min-width: 36px;
    z-index: 1;
  }
  .frame-child12,
  .rectangle-parent7 {
    width: 140px;
    border-radius: var(--br-9xs);
  }
  .rectangle-parent7 {
    cursor: pointer;
    border: 1px solid var(--color-mediumpurple);
    padding: var(--padding-6xs) 49.7px var(--padding-8xs);
    background-color: var(--color-lavender-200);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-parent7:hover {
    background-color: #cfcfe6;
    border: 1px solid #5c5cc2;
    box-sizing: border-box;
  }
  .frame-child12 {
    height: 33.1px;
    position: relative;
    background-color: var(--color-royalblue);
    display: none;
  }
  .create-new {
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 18px;
    font-family: var(--font-actor);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 75px;
    z-index: 1;
  }
  .rectangle-parent8 {
    cursor: pointer;
    border: 0;
    padding: 7.2px 27.8px 7.9px;
    background-color: var(--color-royalblue);
    width: 140px;
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    white-space: nowrap;
  }
  .rectangle-parent8:hover {
    background-color: var(--color-cornflowerblue);
  }
  .frame-parent2,
  .frame-parent3 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent3 {
    width: 970.5px;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-actor);
  }
  .frame-parent2 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 22px;
  }
  .frame-child13,
  .frame-wrapper2 {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-11xs);
  }
  .frame-child13 {
    width: 973px;
    position: relative;
    border: 1px solid var(--color-lavender-100);
    display: none;
    z-index: 0;
  }
  .frame-child14,
  .rectangle-input {
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    width: 100%;
    right: 0;
    left: 0;
  }
  .rectangle-input {
    height: 80.4px;
    position: absolute;
    margin: 0 !important;
    top: 164.8px;
    z-index: 4;
  }
  .frame-child14 {
    height: 85.8px;
    bottom: 86.3px;
    z-index: 5;
  }
  .approved1,
  .frame-child14,
  .frame-child15 {
    position: absolute;
    margin: 0 !important;
  }
  .frame-child15 {
    width: 969px;
    height: 81.7px;
    top: 1.3px;
    left: 1px;
    background-color: var(--color-royalblue);
    z-index: 4;
  }
  .approved1 {
    width: 38px;
    height: 24.1px;
    top: 194.3px;
    right: 172.5px;
    line-height: 118%;
    display: inline-block;
    z-index: 5;
  }
  .frame-child16 {
    width: 973px;
    height: 665.3px;
    position: relative;
    border: 1px solid var(--color-lavender-100);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
    z-index: 4;
  }
  .full-name,
  .profession {
    position: relative;
    line-height: 23px;
    display: inline-block;
    z-index: 7;
  }
  .full-name {
    width: 139px;
    flex-shrink: 0;
  }
  .profession {
    min-width: 86px;
  }
  .profession-wrapper {
    width: 194px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .phone-number {
    position: relative;
    line-height: 23px;
    display: inline-block;
    min-width: 129px;
    z-index: 7;
  }
  .appr-user-data-inner,
  .full-name-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .full-name-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .appr-user-data-inner {
    width: 802px;
    justify-content: flex-end;
    padding: 0 70px;
    box-sizing: border-box;
  }
  .frame-child17,
  .frame-child18 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .frame-child18 {
    z-index: 7;
  }
  .frame-parent5 {
    width: 11.9px;
    height: 16.1px;
    position: relative;
  }
  .frame-wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 9.3px 0 0;
  }
  .phuc-thien-nguyen {
    position: relative;
    line-height: 20px;
    z-index: 3;
  }
  .select-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .sale {
    width: 48px;
    position: relative;
    line-height: 20px;
    display: inline-block;
    z-index: 3;
  }
  .emp-name-birth-add {
    width: 98px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .anh-khoa-nguyen {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    z-index: 3;
  }
  .tuan-hung-bui {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2.4px 0 0;
  }
  .pending {
    position: relative;
    font-size: var(--font-size-mini);
    line-height: 18px;
    color: var(--color-white);
    display: inline-block;
    min-width: 49px;
    margin-left: -55.5px;
  }
  .hoang-truong-pham,
  .tuan-hung-bui-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tuan-hung-bui-parent {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-7xs) 0 0;
  }
  .hoang-truong-pham {
    width: 117px;
    flex-direction: column;
    padding: 2.6px 0 0;
    box-sizing: border-box;
  }
  .frame-wrapper5,
  .select-box-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .select-box-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-wrapper5 {
    width: 794px;
    justify-content: flex-start;
    padding: 0 51px;
    box-sizing: border-box;
  }
  .hoang-truong-pham1,
  .sale-stock1 {
    position: relative;
    line-height: 20px;
    display: inline-block;
    z-index: 7;
  }
  .hoang-truong-pham1 {
    width: 163px;
    flex-shrink: 0;
  }
  .sale-stock1 {
    width: 91px;
  }
  .contact-field {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .address-field {
    position: relative;
    line-height: 20px;
    display: inline-block;
    min-width: 94px;
    z-index: 7;
  }
  .emp-name-birth-addr,
  .hoang-truong-pham-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .hoang-truong-pham-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .emp-name-birth-addr {
    width: 779px;
    justify-content: flex-start;
    padding: 0 49px;
    box-sizing: border-box;
  }
  .birth-date,
  .full-name1 {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    z-index: 3;
  }
  .address {
    position: relative;
    line-height: 21px;
    display: inline-block;
    min-width: 63px;
    z-index: 3;
  }
  .frame-wrapper6,
  .full-name-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .full-name-group {
    align-self: stretch;
    gap: var(--gap-11xl);
  }
  .frame-wrapper6 {
    width: 112px;
    padding: 19.6px 0 0;
    box-sizing: border-box;
  }
  .hoang-truong-pham2 {
    position: relative;
    line-height: 20px;
    z-index: 3;
  }
  .div,
  .rue-sainte-catherine-o {
    position: relative;
    display: inline-block;
    z-index: 3;
  }
  .div {
    width: 140px;
    line-height: 20px;
  }
  .rue-sainte-catherine-o {
    align-self: stretch;
    height: 60px;
    text-decoration: underline;
    line-height: 118%;
    color: inherit;
    flex-shrink: 0;
  }
  .hoang-truong-pham-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xl);
  }
  .rue-sainte-catherine-o-montrea-child,
  .rue-sainte-catherine-o-montrea-item {
    align-self: stretch;
    width: 1px;
    position: relative;
    border-right: 1px solid var(--color-black);
    box-sizing: border-box;
    z-index: 3;
  }
  .rue-sainte-catherine-o-montrea-item {
    z-index: 7;
    margin-left: -1px;
  }
  .rue-sainte-catherine-o-montrea {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rue-sainte-catherine-o-montrea-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 1.9px;
  }
  .frame-parent9 {
    height: 179.6px;
    width: 205px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2px;
    min-width: 205px;
  }
  .phone-number1,
  .truonggmailcom {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .phone-number1 {
    flex: 1;
    line-height: 20.7px;
    min-width: 75px;
  }
  .truonggmailcom {
    width: 133.9px;
    font-size: var(--font-size-base-4);
    line-height: 20.4px;
  }
  .phone-number-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base-9);
  }
  .professional-activity,
  .sale-stock2 {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .professional-activity {
    flex: 1;
    line-height: 20.7px;
    min-width: 102px;
  }
  .sale-stock2 {
    width: 133.6px;
    line-height: 20.4px;
  }
  .professional-activity-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xl);
  }
  .professional-diploma,
  .truonggmailcom1 {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .professional-diploma {
    flex: 1;
    line-height: 20.7px;
    min-width: 106px;
  }
  .truonggmailcom1 {
    width: 133.9px;
    line-height: 118%;
  }
  .professional-diploma-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base-9);
  }
  .frame-parent10,
  .frame-parent7,
  .frame-parent8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent10 {
    flex: 1;
    flex-direction: column;
    padding: 32.4px 8.6px 32.5px;
    box-sizing: border-box;
    gap: var(--gap-7xl);
    min-width: 240px;
    z-index: 3;
  }
  .frame-parent7,
  .frame-parent8 {
    flex-direction: row;
  }
  .frame-parent8 {
    flex: 1;
    gap: 66px;
    min-width: 416px;
  }
  .frame-parent7 {
    align-self: stretch;
    gap: 53px;
    font-size: var(--font-size-mini);
  }
  .emp-name-birth-addr-parent,
  .frame-parent6 {
    flex-direction: column;
    align-items: flex-start;
  }
  .emp-name-birth-addr-parent {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    gap: 56.4px;
    max-width: 100%;
  }
  .frame-parent6 {
    flex: 1;
    gap: var(--gap-42xl);
    min-width: 523px;
  }
  .appr-user-data,
  .frame-parent4,
  .frame-parent6 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent4 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 39.3px;
    font-size: var(--font-size-base-4);
    color: var(--color-black);
  }
  .appr-user-data {
    width: 856.2px;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-38xl);
    font-size: var(--font-size-lgi-2);
  }
  .frame-child19,
  .frame-child20 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .frame-child20 {
    z-index: 7;
  }
  .frame-parent13 {
    width: 11.9px;
    height: 16.1px;
    position: relative;
  }
  .frame-wrapper7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 2.1px;
  }
  .tuan-hung-bui1 {
    position: relative;
    line-height: 20px;
    display: inline-block;
    min-width: 107px;
    z-index: 7;
  }
  .tuan-hung-bui-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 6.5px;
  }
  .anh-khoa-nguyen1 {
    position: relative;
    line-height: 21px;
    display: inline-block;
    min-width: 127px;
    z-index: 3;
  }
  .frame-parent12,
  .frame-parent14 {
    display: flex;
    justify-content: flex-start;
  }
  .frame-parent14 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-42xl);
  }
  .frame-parent12 {
    width: 227.7px;
    flex-direction: row;
    align-items: flex-end;
    gap: 88.8px;
  }
  .health-care1 {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    z-index: 7;
  }
  .stock {
    flex: 1;
    position: relative;
    line-height: 21px;
    z-index: 3;
  }
  .contact-details,
  .healthcare-label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-details {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-sm) 0 23.5px;
  }
  .healthcare-label {
    width: 116px;
    flex-direction: column;
    padding: 0 var(--padding-4xs) 0 0;
    box-sizing: border-box;
    gap: var(--gap-42xl);
  }
  .div1 {
    position: relative;
    line-height: 20px;
    display: inline-block;
    min-width: 84px;
    z-index: 7;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-6xs) 0 4.5px;
  }
  .empty-label {
    position: relative;
    line-height: 21px;
    display: inline-block;
    min-width: 96px;
    z-index: 3;
  }
  .frame-parent15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-42xl);
  }
  .frame-parent11,
  .rectangle-parent10 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent11 {
    width: 812.7px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-base-4);
    color: var(--color-black);
  }
  .rectangle-parent10 {
    flex: 1;
    border: 1px solid var(--color-lavender-100);
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xl) 29.8px 36px;
    position: relative;
    gap: 74px;
    z-index: 6;
  }
  .frame-child21 {
    height: 16.1px;
    width: 11.9px;
    position: absolute;
    margin: 0 !important;
    bottom: 121.2px;
    left: 29.8px;
    z-index: 7;
  }
  .rectangle-parent9 {
    width: 973px;
    border: 1px solid var(--color-lavender-100);
    box-sizing: border-box;
    flex-direction: row;
    position: relative;
    max-width: 100%;
    z-index: 2;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    font-family: var(--font-actor);
  }
  .frame-group,
  .frame-parent1,
  .frame-section,
  .rectangle-parent9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent1 {
    align-self: stretch;
    flex-direction: column;
    gap: 40.9px;
    max-width: 100%;
  }
  .frame-group,
  .frame-section {
    box-sizing: border-box;
  }
  .frame-section {
    flex: 1;
    flex-direction: column;
    padding: 41px 0 0;
    max-width: calc(100% - 319px);
    text-align: center;
    font-size: 61px;
    color: var(--color-darkblue);
    font-family: var(--font-abril-fatface);
  }
  .frame-group {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-6xl) 0 0;
    gap: 46px;
    max-width: 100%;
  }
  .worker-page-child2 {
    width: 11.9px;
    height: 0;
    position: absolute;
    margin: 0 !important;
    bottom: 546.9px;
    left: 348.8px;
    z-index: 7;
  }
  .worker-page {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-base-4);
    color: var(--color-black);
    font-family: var(--font-actor);
  }
  @media screen and (max-width: 975px) {
    .frame-section {
      padding-top: 27px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 950px) {
    .frame-wrapper,
    .rectangle-group {
      display: none;
    }
    .worker-management {
      font-size: 49px;
      line-height: 58px;
    }
    .frame-parent3 {
      flex-wrap: wrap;
    }
    .appr-user-data-inner {
      padding-left: var(--padding-16xl);
      padding-right: var(--padding-16xl);
      box-sizing: border-box;
    }
    .emp-name-birth-addr,
    .frame-wrapper5 {
      padding-left: var(--padding-6xl);
      padding-right: var(--padding-6xl);
      box-sizing: border-box;
    }
    .emp-name-birth-addr {
      padding-left: var(--padding-5xl);
      padding-right: var(--padding-5xl);
    }
    .frame-parent7 {
      flex-wrap: wrap;
    }
    .frame-parent6 {
      gap: var(--gap-11xl);
    }
    .rectangle-parent10 {
      gap: 37px;
    }
    .frame-section {
      max-width: 100%;
    }
    .frame-group {
      padding-left: var(--padding-6xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 700px) {
    .rectangle-parent {
      padding-left: var(--padding-14xl);
      padding-right: 75px;
      box-sizing: border-box;
    }
    .rectangle-group {
      padding-top: var(--padding-10xl);
      padding-bottom: var(--padding-10xl);
      box-sizing: border-box;
    }
    .full-name-parent,
    .hoang-truong-pham-parent,
    .select-box-parent {
      flex-wrap: wrap;
    }
    .frame-parent9 {
      flex: 1;
    }
    .frame-parent8 {
      flex-wrap: wrap;
      gap: 33px;
      min-width: 100%;
    }
    .frame-parent6 {
      min-width: 100%;
    }
    .frame-parent11 {
      flex-wrap: wrap;
    }
    .rectangle-parent10 {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-4xl);
      box-sizing: border-box;
    }
    .frame-parent1 {
      gap: var(--gap-xl);
    }
    .frame-section {
      padding-top: var(--padding-xl);
      box-sizing: border-box;
    }
    .frame-group {
      gap: var(--gap-4xl);
    }
  }
  @media screen and (max-width: 450px) {
    .rectangle-parent {
      box-sizing: border-box;
    }
    .menu-dash-board,
    .rectangle-parent {
      padding-right: var(--padding-xl);
    }
    .group-button,
    .menu-dash-board,
    .rectangle-container,
    .rectangle-parent1 {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
    .rectangle-group {
      gap: var(--gap-9xl);
    }
    .worker-management {
      font-size: 37px;
      line-height: 43px;
    }
    .phone-number-parent,
    .professional-activity-parent,
    .professional-diploma-parent {
      flex-wrap: wrap;
    }
    .frame-parent8 {
      gap: 16px;
    }
    .frame-parent7 {
      gap: var(--gap-7xl);
    }
    .emp-name-birth-addr-parent {
      gap: var(--gap-9xl);
    }
    .frame-parent6 {
      gap: 15px;
    }
    .frame-parent4 {
      gap: var(--gap-xl);
    }
    .appr-user-data {
      gap: var(--gap-9xl);
    }
    .rectangle-parent10 {
      gap: 18px;
    }
  }
    