
body {
    background-color: #fff;
}

body, h1, h2, th, td, label, select, button {
    color: #000;
}

button {
    background-color: #FF9933;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6600;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#orderedForm {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#cancelOrder_ {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#cancelOrder_:hover {
    background-color: #ff3333;
}
.center-div {
    text-align: center;
}
.right-div {
    text-align: right;
}
label[for="category_order"] {
    font-size: 18px;
    font-weight: bold;
}
select {
    font-size: 18px;
    font-weight: bold;
}